@CHARSET "UTF-8";
<style>
    body{
    	margin:0px;
    	padding:0px;

    }
    #content1{
	   position:relative;
	  // border:solid #fee579;
       margin-bottom:90px;
    }
    #content2{
	   position:relative;
	  // border:solid #fee579;
       margin-bottom:90px;
    }
     ul li{
	    list-style:none;
        white-space:nowrap;
                
    }
     ul li .line{
    	
    	line-height:140px;
    	height:140px;
	    position:relative;
        left:-20px;
        border-bottom:solid #0005;
        margin-top:20px;
        
    }
     #content1 img{
	    width:90px;
        height:120px;   
        float:left;
    }	  
     #content2 img{
	    width:90px;
        height:120px;   
        float:left;
    }	  

     ul li .title{
    	margin-left:10px;
    	float:left;
	    width:200px;
        height:120px;
        //border:solid;
        white-space:nowrap;/* 不换行 */
        overflow:hidden;
        //text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；*/
       
        
    }
    ul li p{
	    line-height:5px;
    	font-size:15px;
    	
    }
    ul li p:first-child{
	    font-weight:bold;
    	font-size:18px;
    }
    ul li p:last-child{
	    color:gray;
    }
    ul li .right{
    	position:relative;
    	float:left;
    	left:20%;
	    width:100px;
	    height:120px;
    	line-height:50px;
    	text-align:center;
    	//display:table-cell;
    	//vertical-align:middle;
    	//border:solid blue;
    }
    #content1 .right button{
	    
    	background:red;
    	color:white;
    	border-radius: 8px;
    }
    ul li .right label{
    	color:yellow;
    	display:block;
    	right:30px;
    }
    #content2 .right button{
	    background:skyblue;
        color:white;
        border-radius:8px;
    }
    
    .hidden{
	    display: none;
    }
    .show{
	    display: block;
    }
    #page4{
	    margin-bottom: 100px;
    }
    #me ul li{
    	
        height:40px;
    	position:relative;
    	left:-20px;
	    list-style:onoe;
        border-bottom:gray solid;
        background: #0001;
        padding-bottom:0px;
        margin-top:0px;
        padding:0px 10px 0px 10px;
        
    }
    #me p{
	    line-height:40px;
        display:inline;
        color:black;
        font-size:17px;
        font-weight: normal;
        
    }
    #me span{
    	position:relative;
	    float:right;
        top:5px;
        font-size:20px;
        font-weight: bolder;

    }
    
</style>